{
  "plugins": [
    [
      "../../../src",
      {
        "displayName": true,
        "fileName": false,
        "ssr": true,
        "topLevelImportPathPatterns": [".*/styled-components/native$"],
        "transpileTemplateLiterals": false
      }
    ]
  ]
}
