{
  "plugins": [
    [
      "../../../src",
      {
        "ssr": false,
        "fileName": false,
        "transpileTemplateLiterals": false,
        "cssPropImportPath": "styled-components/native"
      }
    ]
  ]
}
