{
  "plugins": [
    [
      "../../../src",
      {
        "ssr": false,
        "fileName": false,
        "transpileTemplateLiterals": false
      }
    ],
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ]
}
