{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "../../../src",
      {
        "shimCSSTag": true,
        "transpileTemplateLiterals": true,
        "minify": true
      }
    ]
  ]
}
