{
  "plugins": [
    ["../../../src", {
      "displayName": false,
      "ssr": false,
      "fileName": false,
      "minify": false,
      "preprocess": false,
      "transpileTemplateLiterals": false,
      "cssTemplate": {
        "injectGlobal": "#id > {{css}}"
      }
    }]
  ]
}
