{
  "plugins": [
    [
      "../../../src",
      {
        "displayName": true,
        "fileName": true,
        "ssr": true,
        "transpileTemplateLiterals": false,
        "cssProp": true
      }
    ]
  ]
}
